@import "../../scss/vendors/bootstrap/variables";
@import "../../scss/components/global-variables";

$plane-url: url('../../assets/img/telefonixpdt-website-for-devices_airplane-icon.png');

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $nav-height;

  .menu-btn {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    width: $nav-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-600;
    cursor: pointer;
  }

  .cell {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    padding-left: $nav-height;

    &-signal {
      top: -16px;
      display: flex;
      align-items: center;

      &-indicator {
        min-width: 6px;
        max-width: 6px;
        min-height: 6px;
        max-height: 6px;
        border-radius: 99px;
        border: 1px solid $white;
        margin-right: 3px;

        &--on {
          background-color: $white;
        }
      }

      &-text {
        font-size: 7px;
        padding-top: 2px;
      }
    }

    &-status {
      display: flex;
      align-items: center;
      padding-left: 20px;

      &-text {
        font-size: 9px;
      }

      &-indicator {
        min-width: 20px;
        min-height: 20px;
        border-radius: 99px;
        border: 1px solid $gray-600;

        &--on {
          background-color: $gray-600;
        }
      }
    }

    &-time {
      bottom: -20px;
      font-size: 14px;
    }
  }

  .slider {
    display: flex;
    align-items: center;
    position: relative;

    &-bottom,
    &-top,
    &-plane {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        width: 100%;
      }
    }

    &-bottom,
    &-top {
      &::after {
        padding-bottom: 5px;
        margin: 0 5px;
        border-radius: 99px;
      }
    }

    &-bottom {
      z-index: 100;

      &::after {
        background-color: $gray-600;
      }
    }

    &-top {
      z-index: 101;

      &::after {
        background-color: $gray-400;
        width: 30%;
      }
    }

    &-plane {
      z-index: 102;

      &::after {
        height: 48px;
        padding-left: 48px;
        background: $plane-url no-repeat right;
        width: 30%;
      }
    }
  }
}

.menu {
  position: absolute;
  z-index: 1;
  top: $nav-height;
  bottom: 0;
  width: 315px;
  padding: 56px 24px 0;
  background-color: $gray-400;

  &-item {
    display: flex;
    align-items: center;
    height: 84px;
    border-top: 1px solid $white;
    color: $black;
    text-decoration: none;

    &:last-child {
      border-bottom: 1px solid $white;
    }

    &-icon {
      height: 37px;
      width: 37px;
      margin: 0 15px;
    }

    &-text {
      letter-spacing: 3px;
    }
  }
}