<nav class="nav bg-brandbluegray">
  <div class="menu-btn" (click)="changeMenuStatus()">
    <img src="./assets/img/menu_icon.png" alt="menu">
  </div>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="cell col-5 col-sm-3 col-lg-2">
        <div class="cell-status position-relative">
          <div class="cell-signal position-absolute">
            <div *ngFor="let i of [0,1,2,3,4]"
                 class="cell-signal-indicator cell-signal-indicator--on">
            </div>
            <div class="cell-signal-text text-uppercase">signal</div>
          </div>
          <div class="cell-status-text text-uppercase">cell status</div>
          <div class="cell-status-indicator cell-status-indicator--on ml-2"></div>
          <div class="cell-time d-flex d-sm-none position-absolute font-weight-bold text-white">
            <div>06:40</div>
          </div>
        </div>
      </div>
      <div class="slider col-6 offset-sm-0 col-lg-8 h-100">
        <div class="slider-bottom"></div>
        <div class="slider-top"></div>
        <div class="slider-plane"></div>
      </div>
      <div class="d-none d-sm-flex col-sm-3 col-lg-2 font-weight-bold text-white">
        <div class="m-auto">06:40</div>
      </div>
    </div>
  </div>
</nav>

<aside class="menu text-uppercase" [ngClass]="{'d-block': menuStatus, 'd-none': !menuStatus}">
  <a href="#" class="menu-item">
    <img src="./assets/img/telefonixpdt-website-for-devices-icons-61.png" class="menu-item-icon">
    <div class="menu-item-text">home</div>
  </a>
  <a href="#" class="menu-item">
    <img src="./assets/img/telefonixpdt-icons-69.png" class="menu-item-icon">
    <div class="menu-item-text">system control</div>
  </a>
  <a href="#" class="menu-item">
    <img src="./assets/img/telefonixpdt-icons-68.png" class="menu-item-icon">
    <div class="menu-item-text">load content</div>
  </a>
  <a href="#" class="menu-item">
    <img src="./assets/img/telefonixpdt-icons-70.png" class="menu-item-icon">
    <div class="menu-item-text">system status</div>
  </a>
</aside>

<!--
<main class="main">
  <div></div>
  <div class="telefonix"></div>
</main>
-->
