@import "../../../scss/components/layout";

$ios-icon-url: url('../../../assets/img/ios-logo-light.png');
$android-icon-url: url('../../../assets/img/android-logo-light.png');
$windows-icon-url: url('../../../assets/img/windows-logo-light.png');

.devices-status {

  select {
    position: absolute;
    left: 8px;
    top: 8px;
  }
}
