<div class="layout">
  <div class="container">
    <div class="devices-status">
      <div class="header col-12 h1">devices status</div>
      <p-table [value]="statusData" [scrollable]="true">
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col width="150">
            <col width="200">
            <col width="400">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="150">
            <col width="400">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>platform</th>
            <th>launchDate</th>
            <th>deviceId</th>
            <th>ssid</th>
            <th>accessPointMAC</th>
            <th>rssi</th>
            <th>ip</th>
            <th>dataReceived</th>
            <th>dataSent</th>
            <th>connectionSpeed</th>
            <th>serverPing</th>
            <th>controlServerURL</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-statusData>
          <tr>
            <td nowrap>{{statusData.platform}}</td>
            <td nowrap>{{statusData.launchDate}}</td>
            <td nowrap>{{statusData.deviceId}}</td>
            <td nowrap>{{statusData.ssid}}</td>
            <td nowrap>{{statusData.accessPointMAC}}</td>
            <td nowrap>{{statusData.rssi}}</td>
            <td nowrap>{{statusData.ip}}</td>
            <td nowrap>{{statusData.dataReceived}}</td>
            <td nowrap>{{statusData.dataSent}}</td>
            <td nowrap>{{statusData.connectionSpeed}}</td>
            <td nowrap>{{statusData.serverPing}}</td>
            <td nowrap>{{statusData.controlServerURL}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
