.layout {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 60px;

  .header {
    min-height: 60px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
}