<div class="layout">
  <div class="container">
    <div class="system-status">
      <div class="header col-12 h1">system status</div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6">System Server Software Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.systemServerSoftwareRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP FWD IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.CWAPFWDIAP225FWSystemFirmwareRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP MID IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.CWAPMIDIAP225FWSystemFirmwareRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP AFT IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.CWAPAFTIAP225FWSystemFirmwareRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Content Loader System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.contentLoaderSystemFirmwareRevision}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-6">Server OS Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.serverOSRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">API Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.APIRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Hardware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatus.hardwareRevision}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">STC Media Version</div>
        <div class="col-12 col-sm-6">{{systemStatus.STCMediaVersion}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Download Date</div>
        <div class="col-12 col-sm-6">{{systemStatus.downloadDate}}</div>
      </div>
    </div>
  </div>
</div>