<div class="layout">
  <div class="container">
    <div class="system-status">
      <div class="header col-12 h1">system control</div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6">System Server Software Revision</div>
        <div class="col-12 col-sm-6">0.1.0</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP FWD IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">Version 6.4.2.6-4.1.1.10</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP MID IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">Version 6.4.2.6-4.1.1.10</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP AFT IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">Version 6.4.2.6-4.1.1.10</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Content Loader System Firmware Revision</div>
        <div class="col-12 col-sm-6">B</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-6">Server OS Revision</div>
        <div class="col-12 col-sm-6">4.4.0-62-generic</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">API Revision</div>
        <div class="col-12 col-sm-6">12</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Hardware Revision</div>
        <div class="col-12 col-sm-6">0</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">STC Media Version</div>
        <div class="col-12 col-sm-6">A</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Download Date</div>
        <div class="col-12 col-sm-6">08/17/2017</div>
      </div>
    </div>
  </div>
</div>