<div class="layout">
  <div class="container">
    <div class="system-status">
      <div class="header col-12 h1">system status</div>
      <div class="row mt-5">
        <div class="col-12 col-sm-6">System Server Software Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['System Server Software Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP FWD IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['CWAP FWD IAP-225-FW System Firmware Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP MID IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['CWAP MID IAP-225-FW System Firmware Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">CWAP AFT IAP-225-FW System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['CWAP AFT IAP-225-FW System Firmware Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Content Loader System Firmware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['Content Loader System Firmware Revision']}}</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12 col-sm-6">Server OS Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['Server OS Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">API Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['API Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Hardware Revision</div>
        <div class="col-12 col-sm-6">{{systemStatusData['Hardware Revision']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">STC Media Version</div>
        <div class="col-12 col-sm-6">{{systemStatusData['STC Media Version']}}</div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">Download Date</div>
        <div class="col-12 col-sm-6">{{systemStatusData['Download Date']}}</div>
      </div>
    </div>
  </div>
</div>