<div class="home layout">
  <div class="container">
    <div class="row route-btn-group">
      <div class="header col-12 h1"></div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn system-control-btn" routerLink="/system-control">
          <div class="icon"></div>
          <div>system control</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn load-content-btn" routerLink="/load-content">
          <div class="icon"></div>
          <div>load content</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn system-status-btn" routerLink="/system-status">
          <div class="icon"></div>
          <div>system status</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn modem-status-btn" routerLink="/modem-status">
          <div class="icon"></div>
          <div>modem status</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn devices-status-btn" routerLink="/devices-status">
          <div class="icon"></div>
          <div>devices status</div>
        </div>
      </div>
    </div>
  </div>
</div>