<div class="layout">
  <div class="container">
    <div class="system-control route-btn-group row">
      <div class="header col-12 h1">system control</div>
      <div class="col-sm-6 col-lg-4">
        <div (click)="sendMsg()" class="route-btn play-safety-message-btn" routerLink="/system-control">
          <div class="icon"></div>
          <div>play safety message</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn turn-on-entertainment-btn" routerLink="/system-control">
          <div class="icon"></div>
          <div>turn on entertainment</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn reset-system-btn" routerLink="/system-control">
          <div class="icon"></div>
          <div>reset system</div>
        </div>
      </div>
    </div>
  </div>
</div>
