<div class="layout">

  <div class="container">
    <div class="system-control route-btn-group row">
      <div class="header col-12 h1">system control</div>
      <div class="col-sm-6 col-lg-4">
        <div (click)="sendMsg('play safety message')"
             [ngClass]="{ 'icon-change': playNow === 'play safety message'}"
             class="route-btn play-safety-message-btn">
          <div class="icon"></div>
          <div class="icon-stop">
            <div class="icon-stop-text">stop</div>
            <div class="icon-stop-timer">{{ timer }}</div>
          </div>
          <div>play safety message</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div (click)="sendMsg('turn on entertainment')"
             [ngClass]="{ 'icon-change': playNow === 'turn on entertainment'}"
             class="route-btn turn-on-entertainment-btn">
          <div class="icon"></div>
          <div class="icon-stop">
            <div class="icon-stop-text">stop</div>
            <div class="icon-stop-timer">{{ timer }}</div>
          </div>
          <div>turn on entertainment</div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="route-btn reset-system-btn">
          <div class="icon"></div>
          <div>reset system</div>
        </div>
      </div>
    </div>
  </div>
</div>
